<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Teritory:</strong>
  <%= @club.teritory %>
</p>

<p>
  <strong>Representative:</strong>
  <%= @club.representative %>
</p>

<p>
  <strong>Email:</strong>
  <%= @club.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @club.phone %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
