.jumbotron

  %h1{ class: "display-4"}= @club.club_name
  %p
    %strong= "Territory:"
    #{@club.territory}
  %p
    %strong= "Representative:"
    #{@club.representative}
  %hr{ class:"my-4" }
  %p
    %strong= "Email:"
    #{@club.email}
  %p
    %strong= "Phone:"
    #{@club.phone}
= render partial: '/runners/index', :locals => { :runners => @club.runners }
= render partial: '/layouts/show_actions', :locals => { :element => @club }
