%table{class: "table table-striped table-bordered table-hover"}
  %thead
    %tr{class: "table-primary"}
      %th= link_to 'Name', sort: 'runner_name'
      %th= link_to 'Surname', sort: 'surname'
      %th= link_to 'Date of Birth', sort: 'dob'
      %th= link_to 'Category', sort: 'categories.id'
      %th= link_to 'Club', sort: 'clubs.club_name'
      %th= link_to 'Gender', sort: 'gender'
      %th{ colspan: "3"}Actions
  %tbody
    - runners.each do |runner|
      %tr
        %td= runner.runner_name
        %td= runner.surname
        %td= runner.dob
        %td= runner.category.category_name
        %td= link_to runner.club.club_name, club_path(runner.club)
        %td= runner.gender
        = render partial: '/layouts/actions', :locals => { :element => runner }
