<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @runner.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @runner.surname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @runner.dob %>
</p>

<p>
  <strong>Category:</strong>
  <%= @runner.category %>
</p>

<p>
  <strong>Club:</strong>
  <%= @runner.club %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @runner.gender %>
</p>

<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
