.mb-3.row
  = form.label name.to_sym, class: "col-sm-2 col-form-label"
  .col-sm-3
    = form.text_field name.to_sym, class: "form-control"
.mb-3.row
  = form.label :clasa, class: "col-sm-2 col-form-label"
  .col-sm-3
    - array = ["MSRM", "CMSRM", "Seniori", "Juniori"]
    = form.select :clasa, array, {}, class: "form-control"
.mb-3.row
  = form.label :competition, class: "col-sm-2 col-form-label"
  .col-sm-3
    - array   = Competition.order(:date).map { |c| [c.name, c.id] }
    - default = array.detect {|a| a.first == "New"}
    = form.select :competition_id, array, {:selected => default}, onchange:"visibility();", class: "form-control"
