= form_with model: category do |form|
  -if category.errors.any?
    %div{ id: "error_explanation"}
      %h2
        = pluralize(category.errors.count, "error")
        prohibited this category from being saved:

      %ul
        - category.errors.each do |error|
          %li
          = error.full_message

  .mb-3.row
    = form.label :name, class: "col-sm-2 col-form-label"
    .col-sm-4
      = form.text_field :category_name, class: "form-control"
  .mb-3.row
    = form.label :full_name, class: "col-sm-2 col-form-label"
    .col-sm-4
      = form.text_field :full_name, class: "form-control"
  .mb-3.row
    = form.label :points, class: "col-sm-2 col-form-label"
    .col-sm-4
      = form.text_field :points, class: "form-control"
  %hr

  .actions
    = form.submit class: "btn btn-success btn-sm"
    = link_to 'Back', request.referer, class: "btn btn-secondary btn-sm"
